body    {
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffde74;
     background-color:rgb(11, 75, 45);
}
.onimask {
    background-image: url('../imports/oni 4.png');
    background-size: auto;
    width:60em;
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid;
    padding:2em 0;
    position: relative;
    background-position: center;
    background-repeat:no-repeat;
}

#about div{
    display: inline-block;
}

.abtme-name {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(20, 12, 48, 0.5);

}
.abtme-desc {
    width: 35%;
     margin-left: auto;
    margin-right: auto;
     background-color: rgb(20, 12, 48);
}

.abtme-selfie {
    width: 25%;
    margin: 0 auto;
     background-color: rgb(20, 12, 48);

}

header
{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
nav,
main,
footer { 
    max-width:100%;
    text-align: auto;
    margin: 20px 0;

}

.index {
    text-align: center;
    width: 80%;
    padding: 0.01em;
    margin-left: auto;
    margin-right: auto;
    margin: 2em center;
    background-color:rgb(11, 75, 45);
    border: 2px solid #ffde74;
}

#index p {
    display:inline-block;
}

.home {
    width: 25%;
}
.myjourney {
    width: 25%;
}
.portfolio  {
    width: 25%;
}
.contact {
    width: 25%;
}


/* yayyyy ive figured out how to leave comments hurray!

/* i will likely have to rejig a lot of my css as i am re aquainting myself with it and understanding my own code.
//* ALSO I have a fractured WRIST, so this is CHALLANGING AFFFFF - Prepare to see a LOT of comments of me complaining about it inbetween code.

*/ 