/* HOME PAGE */

#about {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(20, 12, 48, 0.5);
}

#about > div {
  height: 400px;
  box-sizing: border-box;
      background-color: rgb(8, 57, 12, 0.2);
}

.abtme-name {
    width: 39%;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;

}
.abtme-desc {
    width: 28.6%;
     background-color: rgb(8, 57, 12, 0.2);
      text-align: center;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 0.9em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 1%;
}

.abtme-selfie {
    width: 25%;

}

.booking-inquiries {
  background-color: black;
  width: 80%;
 
  
}

/* SHOP NAV */
.shopindex {
    margin: 0 auto 60px;
  text-align: center;
  padding: 0;
  border: 0;
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.5;
}

.shopindex > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.5;
}

.shopindex .All-Products-Nav, 
.Tshirts-Products-Nav,
.Prints-Products-Nav {
 list-style: none;
  margin: 0;
  padding: 0;
}

.shopindex .All-Products-Nav a, 
.Tshirts-Products-Nav a,
.Prints-Products-Nav a {
color: var(--secondary-text-color);
  display: block;
  font-size: 1.1em;
  padding: 4px 8px;
  text-decoration: none;
  transition: color 0.2s linear;
  font-family: var(--secondary-font, Arial, sans-serif);
}

.shopindex li a:hover {
color: var(--primary-text-color);
}



/* yayyyy ive figured out how to leave comments hurray!

/* i will likely have to rejig a lot of my css as i am re aquainting myself with it and understanding my own code.
//* ALSO I have a fractured WRIST, so this is CHALLANGING AFFFFF - Prepare to see a LOT of comments of me complaining about it inbetween code.

*/ 

/*boop boop stage change check*/